/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

h1, h2, h5, h6 {
  color: #262644;
  font-family: "UnifrakturCook", "New Rocker", cursive;
  margin: 10px 0 -10px;
}
h3, h4 {
  font-family: "Berkshire Swash", cursive;
  margin: 10px 0 0;
  color: #262644;
}

body {
  background-color: #C5DBE7;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  color: #444;
  padding: 5px;
}
p {
  /*text-indent: 30px;*/
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: left;
  padding: 0 1em;
}
.chapter-division {
  text-indent: 0;
  text-align: center;
}
p a,
h2 a {
  text-decoration: none;
  color: #451143;
}
header {
  font-family: "UnifrakturCook", "New Rocker", cursive;
  font-size: 1.5em;
  background-color: #262644;
  padding: 10px;
  display: grid;
  grid-template-columns: 110px auto;
  align-items: center;
}
img {
  
}
.logo {
  background-color: #E2EDF3;
  border-radius: 25px;
  border: 3px solid #D8ADFF; 
  text-align: center;
}
.logo img {
  width: 95%;
  padding: 8px 0 0 0;
}
#navigation {
  
}
nav ul {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  text-align: center;
  padding-inline-start: 0;
}
nav {
  background-color: #262644;
}
nav a {
  color: #D8ADFF;
  text-decoration: none;
}
.active-page {
  color: #FFDF8E;
}
.index-chapter a:visited {
  color: #ED5A7E;
}
nav a:hover,
p a:hover,
h2 a:hover {
  color: #FBDBE3;
  background-color: #451143;
  border: 1px solid #FBDBE3;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
}
nav a:active,
.nav-dropdown-content a:hover {
  background-color: #FFDF8E;
  color: #262644;
}
.nav-dropdown {
  position: relative;
  display: inline-block;
}
.nav-dropdown-content {
  display: none;
  position: absolute;
  background-color: #451143;
  min-width: 160px;
  box-shadow: 5px 5px 5px  #999;
  padding: 10px;
  z-index:1;
}
.nav-dropdown-content a {
  color: #FBDBE3;
  font-family: "Berkshire Swash", cursive;
}
.nav-dropdown:hover .nav-dropdown-content {
  display: block;
}

footer {
  color: #D8ADFF;
  background-color: #262644;
  padding: 10px;
  /*display: grid;
  grid-template-columns: auto */ /*100px 60px 60px 60px 60px*/ /*;
  grid-template-rows: repeat(2, auto);
  grid-gap: 5px;*/
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #D8ADFF;
  grid-row: 1/3;
}
footer img {
  margin: 10px;
  height: 40px /*40px*/;
  background-color: #E2EDF3;
  border-radius: 50px;
  border: 3px solid #D8ADFF; 
  text-align: center;
  padding: 0px /*3px*/;
  /*grid-row: 1/3;*/
}
footer p {
  margin: 10px;
  text-indent: 0;
  text-align: left;
}
.music-credit {
  margin: -15px 5px 5px;
  text-indent: 0;
  grid-column: 1;
  grid-row: 2;
}
.play-pause {
  color: #451143;
  background-color: #D8ADFF;
  margin: 5px;
}

#content {
  max-width: 960px;
  margin: 0 auto;
  background-color: #E2EDF3;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(11, auto);
  grid-gap: 1em;
  padding: 0 1em 0 0;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/12;
  background-color: #D8ADFF;
  color: #451143;
  padding: 15px;
  margin: 0;
  text-align: center;
  border-top: 5px solid #EBD6FF;
  border-right: 5px solid #EBD6FF;
  border-bottom: 5px solid #3F007A;
  border-left: 5px solid #3F007A;
}
.sidebar a {
  color: #451143;
  text-decoration: none;
}
.sidebar a:hover,
.index-chapter a:hover,
.index-heading a:hover,
.character-names-heading a:hover {
  color: #E2EDF3;
}
.sidebar-img {
  width: 90%;
  border: 3px solid #451143;
  
}
.new-chapter p {
  text-indent: 0px;
  text-align: left;
}
.new-character p {
  text-indent: 0px;
  text-align: left;
}
.home-illustration {
  grid-column: 2/5;
  grid-row: 1/4;
  margin: 0 auto;
  padding: 25px 15px;
  text-align: center;
}
.home-illustration img,
.story-intro-img-1 img,
.story-intro-img-2 img {
  border: 5px solid #262644;
  width: 90%;
}
.home-heading-1 {
  grid-column: 2/5;
  grid-row: 3/4;
}
.home-paragraph-1 {
  grid-column: 2/5;
  grid-row: 4/5;
}
.home-heading-2 {
  grid-column: 2/5;
  grid-row: 5/6;
}
.home-paragraph-2 {
  grid-column: 2/5;
  grid-row: 6/7;
}
.home-heading-3 {
  grid-column: 2/5;
  grid-row: 7/8;
}
.home-paragraph-3 {
  grid-column: 2/5;
  grid-row: 8/9;
}
.note {
  grid-column: 2/5;
  grid-row: 9/10;
}
#thanks {
  grid-column: 2/5;
  grid-row: 10/11;
}

.story-intro-grid,
.title-page-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 1em;
  padding: 0 0 0 1em;
}
.story-intro-img-1 {
  grid-column: 1/2;
  grid-row: 1/3;
}
.story-intro-heading-1 {
  grid-column: 2/4;
  grid-row: 1/2;
}
.story-intro-paragraph-1 {
  grid-column: 2/4;
  grid-row: 2/3;
}
.story-intro-img-2 {
  grid-column: 3/4;
  grid-row: 3/5;
}
.story-intro-heading-2 {
  grid-column: 1/3;
  grid-row: 3/4;
}
.story-intro-paragraph-2 {
  grid-column: 1/3;
  grid-row: 4/5;
}
.chapter-index-sidebar {
  grid-column: 4/5;
  grid-row: 1/7;
  background-color: #D8ADFF;
  color: #451143;
  padding: 15px;
  margin: 0;
  text-align: left;
  border-top: 5px solid #EBD6FF;
  border-right: 5px solid #3F007A;
  border-bottom: 5px solid #3F007A;
  border-left: 5px solid #EBD6FF;
}
.chapter-index-sidebar h2,
.chapter-index-sidebar h3 {
  color: #451143;
}
.story-intro-img-1, 
.story-intro-img-2 {
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.index-heading {
  text-align: left;
  margin: 10px 0 -10px;
  font-size: 2em;
}
.index-heading a {
  text-decoration: none;
  color: #451143;
}
.index-book-1 {
  text-align: left;
}
.chapter-index-sidebar ul {
  list-style: none;
}
.index-chapter a {
  text-decoration: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #451143;
}
.character-names-heading a {
  text-decoration: none;
  color: #451143;
}
.character-names-heading {
  text-align: center;
}

.title-page-grid h1 {
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
}
.book-title {
  grid-column: 1/4;
  grid-row: 2/3;
  text-align: center;
}
.book-title h3 {
  grid-row: 2/3;
  margin: 20px 0 -10px 0;
}
.book-title h2 {
  grid-row: 3/4;
}
.cover-art-img {
  width: 70%;
  border: 3px solid #451143;
  grid-column: 1/4;
  margin: 0 auto;
  text-align: center;
}
.title-page-info {
  grid-column: 1/4;
  grid-row: 4/5;
  padding: 10px;
}
.title-page-grid p {
  text-indent: 0;
  text-align: center;
}
.next-chapter img, 
.previous-chapter img,
.next-chapter-title-page img {
  width: 90px;
}
.index-icon img {
  width: 60px;
}
.next-chapter {
  grid-column: 4/5;
  grid-row: 5/6;
  text-align: right;
}
.previous-chapter {
  grid-column: 2/3;
  grid-row: 5/6;
}
.index-icon {
  grid-column: 3/4;
  grid-row: 5/6;
  text-align: center;
}
.next-chapter-title-page {
  grid-column: 3/4;
  grid-row: 5/6;
  text-align: right;
}

.name-list-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 1em;
}
.chapter-novel-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 1em;
}
.chapter-novel-img {
  grid-column: 2/5;
  grid-row: 1/2;
  padding: 15px;
  width: 90%;
  text-align: center;
}
.chapter-number {
  grid-column: 2/5;
  grid-row: 2/3;
  text-align: center;
}
.chapter-heading {
  grid-column: 2/5;
  grid-row: 3/4;
  text-align: center;
}
.chapter-novel-paragraph {
  grid-column: 2/5;
  grid-row: 4/5;
  margin: 0 1em;
}
.chapter-comic-103-grid {
  grid-column: 2/5;
  grid-row: 4/5;
  padding: 1em;
  background-color: #262644;
  border: 10px solid #E2EDF3;
}
.chapter-comic-103-grid img {
  max-width: 100%;
  max-height: 90%;
  border: 3px solid #262644;
}

.chapter-soon {
  margin: 100px 2em;
}

.name-list-grid p {
  grid-column: 1/4;
  grid-row: 1/2;
}
.name-meanings-head {
  grid-column: 1/4;
  grid-row: 2/3;
}
.name-meanings-list {
  grid-column: 1/4;
  grid-row: 3/4;
}
.kingdom-name-meanings-head {
  grid-column: 1/4;
  grid-row: 4/5;
}
.kingdom-name-meanings-list {
  grid-column: 1/4;
  grid-row: 5/6;
}
.name-list-grid .disclaimer {
  grid-column: 1/4;
  grid-row: 6/7;
}
.name-list-grid p,
.name-meanings-head,
.name-meanings-list,
.kingdom-name-meanings-head,
.kingdom-name-meanings-list {
  margin: 25px 50px -15px;
}
.name-list-grid .disclaimer {
  margin: 25px 50px 25px;
}

form {
  margin: 0 auto;
  max-width: 400px;
  /* Form outline */
  padding: 1em;
  border: 3px solid #262644;
  border-radius: 1em;
  background-color: #D8ADFF;
}
form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
form li + li {
  margin-top: 1em;
}
label {
  display: inline-block;
  width: 90px;
  font: 1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: right;
  color: #262644;
}
input,
textarea {
  font: 1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 250px;
  border: 1px solid #262644;
}
input:focus, 
textarea:focus {
  border-color: #000;
}
textarea {
  vertical-align: top;
  height: 5em;
}
.button {
  padding-left: 90px;
}
button {
  margin-left: 5.25em;
  font-size: 1em;
  color: #D8ADFF;
  background-color: #262644;
}

.contact-grid {
  margin: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-gap: 1em;
}
.contact-heading-1 {
  grid-column: 1/5;
  grid-row: 1/2;
  text-align: center;
}
.contact-heading-2 {
  grid-column: 1/4;
  grid-row: 2/3;
}
.contact-paragraph {
  grid-column: 1/4;
  grid-row: 3/4;
  margin: 15px 0 0;
}
.contact-grid .disclaimer {
  grid-column: 1/4;
  grid-row: 4/5;
}
.contact-form {
  grid-column: 1/5;
  grid-row: 6/7;
}
.contact-img {
  grid-column: 4/5;
  grid-row: 2/5;
  text-align: center;
}
.contact-img img{
  padding: 25px;
  width: 150px;
}
.network-logos {
  grid-column: 2/4;
  grid-row: 5/6;
  text-align: center;
}
.contact-heading-3 {
  grid-column: 1/4;
  grid-row: 6/7;
}
.contact-paragraph-2 {
  grid-column: 1/5;
  grid-row: 7/8;
}
.social-logos {
  grid-column: 2/4;
  grid-row: 8/9;
  text-align: center;
}
.network-logos img,
.social-logos img {
  margin: 10px;
  height: 80px;
}
.upwork img{
  height: 90px;
}
.network-logos a,
.social-logos a {
  text-decoration: none;
}
/* form feedback */
#feedback {
  grid-column: 1/5;
  grid-row: 5/6;
  margin: 0 auto;
  font-size: 1em;
  color: #D8ADFF;
  background-color: #262644;
  padding: .5em;
  display: none;
}
.moveDown {
  margin-top: 3em;
}
/* end form feedback */

.gallery-content-grid {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: repeat(8, auto);
  grid-gap: 1em;
}
.gallery-head {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: 0 1em;
}
.gallery-head h1{
  margin: 25px 0 10px;
  text-align: center;
  font-size: 2em;
}
.character-design-head {
  grid-column: 1/4;
  grid-row: 2/3;
  margin: 0;
  text-align: center;
  color: #FBDBE3;
  background-color: #451143; 
  padding: 1em;
  border-top: 5px double #FBDBE3;
  border-bottom: 5px double #FBDBE3;
}
.gallery-img-grid-character {
  grid-column: 2/3;
  grid-row: 3/4;
  margin: 0 auto;
  max-width: 550px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}
.gallery-img-grid-character img,
.gallery-img-grid-chapter img {
  max-width: 90%;
  max-height: 90%;
  border: 3px solid #262644;
}
.gallery-ch-img-head {
  grid-column: 1/4;
  grid-row: 4/5;
  margin: 0;
  text-align: center;
  color: #FBDBE3;
  background-color: #451143; 
  padding: 1em;
  border-top: 5px double #FBDBE3;
  border-bottom: 5px double #FBDBE3;
}
.gallery-img-grid-chapter {
  grid-column: 2/3;
  grid-row: 5/6;
  margin: 0 auto;
  max-width: 550px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

/* Tooltip for arrows */
.next-chapter,
.previous-chapter,
.index-icon,
.next-chapter-title-page {
  position: relative;
  display: inline-block;
}
.next-chapter .next-chapter-tooltip,
.previous-chapter .previous-chapter-tooltip,
.index-icon .index-icon-tooltip,
.next-chapter-title-page .next-chapter-title-page-tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #262644;
  color: #E2EDF3;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}
.next-chapter:hover .next-chapter-tooltip,
.previous-chapter:hover .previous-chapter-tooltip,
.index-icon:hover .index-icon-tooltip,
.next-chapter-title-page:hover .next-chapter-title-page-tooltip {
  visibility: visible;
  width: 120px;
  bottom: 100%;
  left: 50%;
  Margin-left: -60px;
}
/* End tooltip for arrows styling */

/* Gallery lightbox */
.lightbox {
  /** Default lightbox to hidden **/
  display: none;
  /** Position and style **/
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  Background: rgba(38, 38, 68, 0.9);
}
.lightbox img {
  /** Pad the lightbox image **/
  max-width: 80%;
  max-height: 80%;
  margin-top: 5%;
}
.lightbox:target {
  /** remove default browser outline **/
  outline: none;
  /** Unhide lightbox **/
  display: block;
}
/* End lightbox styling */
