/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

h1, h2, h5, h6 {
  color: #262644;
  font-family: "UnifrakturCook", "New Rocker", cursive;
  margin: 30px 0 -30px;
}
h3, h4 {
  font-family: "Berkshire Swash", cursive;
}

body {
  background-color: #CEE3F2;
  font-family: "Open Sans", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
  padding: 15px;
}
p {
  text-indent: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
header {
  font-family: "UnifrakturCook", "New Rocker", cursive;
  font-size: 1.5em;
  background-color: #EEC2FF;
  padding: 10px;
  display: grid;
  grid-template-columns: 110px auto;
  align-items: center;
}
img {
  max-width: 100%;
  border: 3px solid #262644;
  margin: 10px;
}
.logo {
  background-color: #F6B6C7;
  border-radius: 50px 50px 0 0;
  border: 3px solid #FFDF8E; 
}
#nagigation {
  
}
nav ul {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  align-items: center;
}
nav {
  background-color: # EEC2FF;
}
nav a {
  color: #262644;
  text-decoration: none;
}
nav a:hover {
  color: #FBDBE3;
  background-color: #451143;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
}
nav a:visited {
  color: #451143;
}
nav a:visited:hover {
  color: #FBDBE3;
  background-color: #451143;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 5px #999; 
}
nav a:active {
  background-color: #FFDF8E;
  color: #262644;
}
nav a:visited:active {
  background-color: #FFDF8E;
  color: #262644;
}
footer {
  color: #262644;
  background-color: #EEC2FF;
  display: grid;
  grid-template-columns: auto 80px 80px 80px;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #262644;
}
footer img {
  margin: 10px;
  height: 50px;
}
footer p {
  margin: 10px;
}

#content {
  max-width: 960px;
  margin: 0 auto;
  background-color: #CEE3F2;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(11, auto);
  grid-gap: 1em;
}
section .sidebar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-rows: auto 1em auto 1em auto;
  justify-items: center;
}
.sidebar {
  grid-column: 1/2;
  grid-row: 1/12;
  background-color: #262644;
  color: #CEE3F2;
  padding: 15px;
  justify-content: center;
}
.sidebar a {
  color: #FBDBE3;
  text-decoration: none;
}
.sidebar a:hover {
  color: #CEE3F2;
}
.home-illustration {
  grid-column: 2/5;
  grid-row: 1/3;
}
.home-heading-1 {
  grid-column: 2/5;
  grid-row: 3/4;
}
.home-paragraph-1 {
  grid-column: 2/5;
  grid-row: 4/5;
}
.home-heading-2 {
  grid-column: 2/5;
  grid-row: 5/6;
}
.home-paragraph-2 {
  grid-column: 2/5;
  grid-row: 6/7;
}
.home-heading-3 {
  grid-column: 2/5;
  grid-row: 7/8;
}
.home-paragraph-3 {
  grid-column: 2/5;
  grid-row: 8/9;
}
.note {
  grid-column: 2/5;
  grid-row: 9/10;
}
#thanks {
  grid-column: 2/5;
  grid-row: 10/11;
}
