/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

h1, h2, h5, h6 {
  color: #262644;
  font-family: "UnifrakturCook", "New Rocker", cursive;
  margin: 10px 0 -30px;
}
h3, h4 {
  font-family: "Berkshire Swash", cursive;
}

body {
  background-color: #C5DBE7;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 0;
  color: #444;
  padding: 5px;
}
p {
  text-indent: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: justify;
  margin: 10px 0 0 0;
}
p a,
h2 a {
  text-decoration: none;
  color: #451143;
}
header {
  font-family: "UnifrakturCook", "New Rocker", cursive;
  font-size: 1.5em;
  background-color: #262644;
  padding: 10px;
  display: grid;
  grid-template-columns: 110px auto;
  align-items: center;
}
img {
  
}
.logo {
  background-color: #E2EDF3;
  border-radius: 25px;
  border: 3px solid #D8ADFF; 
  text-align: center;
}
.logo img {
  width: 95%;
  padding: 8px 0 0 0;
}
#nagigation {
  
}
nav ul {
  list-style: none;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  text-align: center;
  padding-inline-start: 0;
}
nav {
  background-color: #262644;
}
nav a {
  color: #D8ADFF;
  text-decoration: none;
}
nav a:hover,
p a:hover,
h2 a:hover {
  color: #FBDBE3;
  background-color: #451143;
  border: 1px solid #FBDBE3;
  padding: 10px;
  box-shadow: 5px 5px 5px #999;
}
nav a:visited,
.index-chapter a:visited {
  color: #FFDF8E;
}
nav a:visited:hover {
  color: #FBDBE3;
  background-color: #451143;
  border: 1px solid #F6B6C7;
  padding: 10px;
  box-shadow: 5px 5px 5px #999; 
}
nav a:active {
  background-color: #FFDF8E;
  color: #262644;
}
nav a:visited:active {
  background-color: #FFDF8E;
  color: #262644;
}
footer {
  color: #D8ADFF;
  background-color: #262644;
  display: grid;
  padding: 10px;
  grid-template-columns: auto 80px 80px 80px;
  grid-gap: 10px;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: #D8ADFF;
}
footer img {
  margin: 10px;
  height: 50px;
  background-color: #E2EDF3;
  border-radius: 50px;
  border: 3px solid #D8ADFF; 
  text-align: center;
  padding: 3px;
}
footer p {
  margin: 10px;
  text-indent: 0;
}

#content {
  max-width: 960px;
  margin: 0 auto;
  background-color: #E2EDF3;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(11, auto);
  grid-gap: 1em;
  padding: 0 20px 0 0;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1/12;
  background-color: #D8ADFF;
  color: #451143;
  padding: 15px;
  margin: 0;
  text-align: center;
  border-top: 5px double #451143;
  border-right: 5px double #451143;
  border-bottom: 5px solid #451143;
  border-left: 5px solid #451143;
}
.sidebar a {
  color: #451143;
  text-decoration: none;
}
.sidebar a:hover,
.index-chapter a:hover,
.index-heading a:hover,
.character-names-heading a:hover {
  color: #E2EDF3;
}
.sidebar-img {
  width: 90%;
  border: 3px solid #451143;
}
.new-chapter p {
  text-indent: 0px;
  text-align: center;
}
.new-character p {
  text-indent: 0px;
  text-align: center;
}
.home-illustration {
  grid-column: 2/5;
  grid-row: 1/4;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}
.home-illustration img,
.story-intro-img-1 img,
.story-intro-img-2 img {
  border: 5px solid #262644;
  width: 90%;
}
.home-heading-1 {
  grid-column: 2/5;
  grid-row: 3/4;
}
.home-paragraph-1 {
  grid-column: 2/5;
  grid-row: 4/5;
}
.home-heading-2 {
  grid-column: 2/5;
  grid-row: 5/6;
}
.home-paragraph-2 {
  grid-column: 2/5;
  grid-row: 6/7;
}
.home-heading-3 {
  grid-column: 2/5;
  grid-row: 7/8;
}
.home-paragraph-3 {
  grid-column: 2/5;
  grid-row: 8/9;
}
.note {
  grid-column: 2/5;
  grid-row: 9/10;
}
#thanks {
  grid-column: 2/5;
  grid-row: 10/11;
}

.story-intro-grid,
.title-page-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 1em;
  padding: 0 0 0 20px;
}
.story-intro-img-1 {
  grid-column: 1/2;
  grid-row: 1/3;
}
.story-intro-heading-1 {
  grid-column: 2/4;
  grid-row: 1/2;
}
.story-intro-paragraph-1 {
  grid-column: 2/4;
  grid-row: 2/3;
}
.story-intro-img-2 {
  grid-column: 3/4;
  grid-row: 3/5;
}
.story-intro-heading-2 {
  grid-column: 1/3;
  grid-row: 3/4;
}
.story-intro-paragraph-2 {
  grid-column: 1/3;
  grid-row: 4/5;
}
.chapter-index-sidebar {
  grid-column: 4/5;
  grid-row: 1/7;
  background-color: #D8ADFF;
  color: #451143;
  padding: 15px;
  margin: 0;
  text-align: left;
  border-top: 5px double #451143;
  border-right: 5px solid #451143;
  border-bottom: 5px solid #451143;
  border-left: 5px double #451143;
}
.story-intro-img-1, 
.story-intro-img-2 {
  margin: 0 auto;
  padding: 15px;
  text-align: center;
}

.index-heading {
  text-align: center;
  margin: 10px 0 -10px;
}
.index-heading a {
  text-decoration: none;
  color: #451143;
}
.index-book-1 {
  text-align: center;
}
ul {
  list-style: none;
}
.index-chapter a {
  text-decoration: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #451143;
}
.character-names-heading a {
  text-decoration: none;
  color: #451143;
}
.character-names-heading {
  text-align: center;
}

.title-page-grid h1 {
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: center;
}
.book-title {
  grid-column: 1/4;
  grid-row: 2/3;
  text-align: center;
}
.book-title h3 {
  grid-row: 2/3;
  margin: 20px 0 -10px 0;
}
.book-title h2 {
  grid-row: 3/4;
}
.title-page-info {
  grid-column: 1/4;
  grid-row: 4/5;
  padding: 10px;
}
.title-page-grid p {
  text-indent: 0;
  text-align: center;
}
.next-chapter img, 
.previous-chapter img {
  width: 75px;
}
.next-chapter {
  grid-column: 3/4;
  grid-row: 5/6;
  text-align: right;
}
.previous-chapter {
  grid-column: 2/3;
  grid-row: 5/6;
}

.chapter-novel-grid,
.name-list-grid,
.contact-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-gap: 1em;

}
.chapter-novel-img {
  grid-column: 2/4;
  grid-row: 1/2;
  padding: 15px;
  width: 90%;
  text-align: center;
}
.chapter-number {
  grid-column: 2/4;
  grid-row: 2/3;
  text-align: center;
  margin: -20px 0 -10px 0;
}
.chapter-heading {
  grid-column: 2/4;
  grid-row: 3/4;
  text-align: center;
  margin: 0 0 -10px 0;
}
.chapter-novel-paragraph {
  grid-column: 2/4;
  grid-row: 4/5;
}

.chapter-soon {
  padding: 50px;
  margin: 50px;
}

.name-list-grid p {
  grid-column: 1/4;
  grid-row: 1/2;
}
.name-meanings-head {
  grid-column: 1/4;
  grid-row: 2/3;
}
.name-meanings-list {
  grid-column: 1/4;
  grid-row: 3/4;
}
.kingdom-name-meanings-head {
  grid-column: 1/4;
  grid-row: 4/5;
}
.kingdom-name-meanings-list {
  grid-column: 1/4;
  grid-row: 5/6;
}
.name-list-grid .disclaimer {
  grid-column: 1/4;
  grid-row: 6/7;
}
.name-list-grid p,
.name-meanings-head,
.name-meanings-list,
.kingdom-name-meanings-head,
.kingdom-name-meanings-list {
  margin: 25px 50px -15px;
}
.name-list-grid .disclaimer {
  margin: 25px 50px 25px;
}

form {
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 3px solid #262644;
  border-radius: 1em;
  background-color: #D8ADFF;
}
form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
form li + li {
  margin-top: 1em;
}
label {
  display: inline-block;
  width: 90px;
  font: 1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-align: right;
  color: #262644;
}
input,
textarea {
  font: 1em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  width: 250px;
  box-sizing: boarder-box;
  border: 1px solid #262644;
}
input:focus, 
textarea:focus {
  border-color: #000;
}
textarea {
  vertical-align: top;
  height: 5em;
}
.button {
  padding-left: 90px;
}
button {
  margin-left: 5.25em;
  font-size: 1em;
  color: #D8ADFF;
  background-color: #262644;
}

.contact-grid {
  margin: 25px
}
.contact-heading-1 {
  grid-column: 1/5;
  grid-row: 1/2;
  text-align: center;
}
.contact-heading-2 {
  grid-column: 1/4;
  grid-row: 2/3;
  margin: 10px 0 -30px;
}
.contact-paragraph {
  grid-column: 1/4;
  grid-row: 3/4;
  margin: 15px 0 0;
}
.contact-grid .disclaimer {
  grid-column: 1/4;
  grid-row: 4/5;
}
.contact-form {
  grid-column: 1/5;
  grid-row: 5/6;
}
.contact-img {
  grid-tolumn: 4/5;
  grid-row: 2/5;
  text-align: center;
}
.contact-img img{
  padding: 25px;
  width: 150px;
}

.gallery-content-grid {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-template-rows: repeat(3, auto) 1fr;
  grid-gap: 1em;
}
.gallery-img-grid {
  grid-column: 2/3;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(3, 10em);
  grid-template-rows: repeat(3, 10em);
  align-items: center;
  justify-items: center;
}
.gallery-head {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
}
.gallery-paragraph {
  grid-column: 2/3;
  grid-row: 2/3;
}
.gallery-img-grid img {
  max-width: 90%;
  max-height: 90%;
}
